.masters-section {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 1rem;
}

.masters-swiper {
  width: 80%;
  height: 400px;
  display: flex;
  align-items: center;
}

.slide-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.master-image {
  width: 100%;
  max-width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.master-info {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
  border-radius: 20px;
  width: 300px; 
  text-align: center;
}

.master-name {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.master-description {
  font-size: 0.875rem;
}


@media (min-width: 800px) {
  .masters-swiper {
    padding: 0 2rem; 
  }

  .slide-container {
    padding: 0 1rem;
  }
}

.embla {
  overflow: hidden; 
}

.embla__container {
  display: flex; 
}

.embla__slide {
  flex: 0 0 100%; 
  min-width: 0; 
}