.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--secondary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #1a202c;
  border-radius: 10px;
  gap: 20px;
}

.nav-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-brand a {
  color: #fff;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-menu li a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  transition: color 0.3s ease;
  font-size: 1.2rem;
}

.button {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
   margin-top: 0.4rem;
}

.button:hover {
  cursor: pointer;
}


.nav-toggle {
  display: none;
  flex-direction: column;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.nav-toggle span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--accent-color);
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .nav-toggle {
    display: flex;
  }

  .button {
  margin-top: 0.4rem;
}


  .nav-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: var(--secondary-color);
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .nav-menu.active {
    display: flex;
  }
}